<footer class="main-footer text-center">

  <strong>
    © {% now "Y" %}
    <a href="https://www.vornextech.co.in" target="_blank" style="color:#7F00FF;">
      VORNEX TECH
    </a>.
  </strong>
  All rights reserved.

  <br>
  <span style="font-size:13px; color:#888;">
    A Future Moving Connection
  </span>

  <div class="float-right d-none d-sm-inline-block">
    <b>Version</b> 2.0
  </div>

</footer>
<style>
.main-footer {
    background: #0A0F3C;
    color: #ddd;
    border-top: 1px solid #1a0066;
}

.main-footer a {
    color: #00C6FF;
    font-weight: bold;
}
</style>